body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', cursive; }

h1 {
  font-size: 2.8em; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-size: 18px; }

input {
  font-family: 'Roboto', sans-serif; }

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto; }

legend {
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%; }
  legend + * {
    clear: both; }

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0; }

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell; }

.justForms * {
  box-sizing: border-box; }

.justForms .from-group {
  position: relative;
  margin-bottom: 28px; }
  .justForms .from-group .group-label {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 1.6em; }
    .justForms .from-group .group-label.-required:after {
      content: " *";
      color: red;
      font-weight: normal; }
  .justForms .from-group .group-input {
    height: 48px;
    font-size: 1.6em;
    line-height: 1;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    cursor: auto;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.12);
    padding: 0 14px;
    transition: border-color 0.2s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: white;
    text-align: left;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none; }
    .justForms .from-group .group-input:focus, .justForms .from-group .group-input :active {
      outline: 0;
      border-color: rgba(17, 15, 123, 0.8); }
    .justForms .from-group .group-input:required::before {
      content: "*";
      color: red; }
  .justForms .from-group.-block .group-label {
    display: block;
    width: 100%; }
  .justForms .from-group.-block .group-input {
    display: block;
    width: 100%; }
  .justForms .from-group .btn-submit {
    height: 48px;
    border-radius: 6px;
    color: white;
    background: rgba(17, 15, 123, 0.8);
    font-size: 1.6em;
    padding: 0 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none; }
    .justForms .from-group .btn-submit:hover {
      outline: none;
      background: rgba(13, 12, 96, 0.8); }
    .justForms .from-group .btn-submit.-block {
      display: block;
      width: 100%; }
