@mixin text-color($c1) {
    @if (.2126*red($c1) + .7152*green($c1) + .0722*blue($c1))/255 <= .5 {
        color: mix(#FFF, $c1, 95%);
    } @else {
        color: mix(#000, $c1, 70%);
    }
}

.btn-submit {
  height: $baseHeight;
  border-radius: $baseBorderRadius;
  @include text-color($themeColor);
  background: $themeColor;
  font-size: $baseFontSize;
  padding: 0 $basePadding*2;
  cursor: pointer;
  user-select: none;
  border: none;

  &:hover, &:focus {
    outline: none;
    background: darken($themeColor, 6);
  }

  &.-block {
    display: block;
    width: 100%;
  }

  &.-right{
    float: right;
  }
}
