// justForms
.justForms {
  & * {
    box-sizing: border-box;
  }

  legend {
    font-size: $baseFontSize * 1.2;
    font-weight: 800;
    padding: $basePadding/2 0;
    margin: $basePadding 0;
    border-bottom: 1px solid $themeColor;
    color: $textColorPrimary;
  }

  .from-group {
    position: relative;
    margin-bottom: $basePadding;

    &::after {
    content: "";
    display: table;
    clear: both;
    }

    &.-block {
      .group-label {
        display: block;
        width: 100%;
      }

      .group-input {
        display: block;
        width: 100%;
      }
    }

    &.-inline {

      .group-label {
        display: inline-block;
        width: 30%;
        float: left;


      }

      .group-input {
        display: inline-block;
        width: 70%;
        float: left;
      }
    }


    .addon-group {
      display: flex;

      .-addon {
        flex: 1;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .group-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .group-label {
      font-weight: 400;
      margin-bottom: 6px;
      font-size: $baseFontSize;
      line-height:1.3;

      &.-required:after {
        content: " *";
        color: red;
        font-weight: normal;
      }

    }

    .group-input {
      height: $baseHeight;
      font-size: $baseFontSize;
      line-height: 1;
      user-select: text;
      cursor: auto;
      border-radius: $baseBorderRadius;
      box-shadow: none;
      border: 1px solid;
      border-color: rgba(0,0,0,0.12);
      padding: $basePadding;
      transition: border-color 0.2s linear;
      backface-visibility: hidden;
      background-color: rgba(255,255,255,1);
      text-align: left;
      text-transform: none;
      text-indent: 0;
      text-shadow: none;
      color: $textColorPrimary;



      &:focus,
      :active {
        outline: 0;
        border-color: $themeColor;
      }

      &:required:not(.-checkbox) {
        &::before {
          content: "*";
          color: red;
        }
      }





      &.-select {
        background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
        background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0em;
        background-size: .5rem .5rem;
        background-repeat: no-repeat;
        padding: 0 $basePadding*2 0 $basePadding;
        text-indent: 0.01px;
        appearance: none;

        &::-ms-expand {
          display: none;
        }


      }


    }

    textarea.group-input{
      min-height: $baseHeight*3;
    }

    .input-checkbox{
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: left;

      &:not(:first-child) {
          margin-top: $basePadding/2;
      }


      .-checkbox  {
        border-radius: $baseBorderRadius/2;
        cursor: pointer;
        height: 26px;
        width: 26px;
        line-height: $baseHeight;
        margin-right: .4em;
        -webkit-appearance: none;
        -webkit-transition: .15s;
        float: left;
        border: 1px solid rgba(0,0,0,0.12);

        &:hover {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }
        &:checked {
          border-color: $themeColor;
          box-shadow: 0 0 3px $themeColor;
          background-color: #3197EE;
          box-shadow: inset 0 0 0 4px #fff;
          border-radius: 4px;
        }

          label.checkbox input[type="checkbox"]:checked:before {
            //font-family: FontAwesome;
            content: "&#10004;";
            display: inline-block;
            color: #0078be;
            text-align: center;
            width: 24px;
          }
          &:focus{
            outline: none;
          }
      }

      .group-label{
        line-height: $baseHeight;
        display: block;
        font-weight: 400;
        overflow: hidden;
        margin-bottom: 0;
      }


    }








  }



}
