body{
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', cursive;
}

h1{
  font-size: 2.8em;
}

p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  font-size: 18px;
}

input{
  font-family: 'Roboto', sans-serif;
}
  .container{
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
